<div class='w-full flex my-50px'>
  <div class='w-25pc'></div>
  <div class='w-75pc text-center'>
    <span>Innovation Capital Investment Corp. (ICIC) - is a Vancouver, BC based investment firm with a 16-year track record of successful outcomes. ICIC investment portfolio focuses on opportunities for family and friends in real estate limited partnerships throughout the Pacific Northwest.<br></span>
    <span>René van Haren (CEO) - Karin van Haren (CFO)</span>
  </div>
  <div class='w-25pc'></div>
</div>